body{
  background-image: url(http://www.hdfondos.eu/preview/get_photo/672268/2560/1600);
  background-position: center;
}

.CuadradoFondo{
  background: #E5E8E8 ;
  font-size: 30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  width:60%;
  margin-left : auto;
  margin-right : auto;
  padding : 0px;
  height: 90vh;
  border-radius: 20px;
  border-style: dashed;
  border-color: #2C3E50  ;
  position: static;
}
.CuadradoFondo2{
  background: #808B96  ;
  position: relative;
  font-size: 20px;
  text-align: left;
  bottom: 70vh;
font-family: 'Inconsolata', monospace;
width: 60%;
margin-left: auto;
margin-right: auto;
height: 30vh;
}
#Caja{
  width: 10vh;
    height: 2.3em;
    position: relative;
    left: 36em;
    bottom: 3.5em;
    background-color: #E5E8E8  ;
}
#Pregunta{
  font-family: 'Inconsolata', monospace;
  position: relative;
  z-index: 1;
  text-align: center;
  bottom: 38em;
  right: 2em;
  }
  #Caja2{
    width: 30em;
height: 7em;
position: relative;
left: 30em;
bottom: 46em;
background-color: #E5E8E8  ;
  }
  .Botones{
    display: inline;
  position: relative;
  left: 36em;
  padding: 0.8em;
    bottom: 46.8em;
  }
  #Resultados{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
    position: relative;
    bottom: 26em;
    font-size: 25px;
  }
#Caja3{
font-size: 18px;
text-align: center;
background: #85929E;
padding: 40px;
position: relative;
bottom: 37em;
left: 14em;
width: 53.7%;



}
